---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import type IEntity from "../types/Entity.type";
import Aside from "../components/aside.astro";
import EntityJava from "../components/entityJava.astro";
import EntityGenerator from "../components/entityGenerator.astro";
import LogoTop from "../components/logoTop.astro";
const entities: IEntity[] = [
  {
    className: "User",
    fields: [
      {
        name: "name",
        getter: true,
        setter: true,
        type: "string",
        nullable: false,
      },
      {
        name: "surname",
        getter: true,
        setter: true,
        type: "string",
        nullable: false,
      },
      {
        name: "birth",
        getter: true,
        setter: true,
        type: "LocalDateTime",
        nullable: false,
      },
    ],
    lombok: false,
    language: "java",
    createdAt: new Date("2021-10-10"),
  },
  {
    className: "User",
    fields: [
      {
        name: "name",
        getter: true,
        setter: true,
        type: "string",
        nullable: false,
      },
    ],
    lombok: false,
    language: "java",
    createdAt: new Date("2021-10-10"),
  },
  {
    className: "User",
    fields: [
      {
        name: "name",
        getter: true,
        setter: true,
        type: "string",
        nullable: false,
      },
    ],
    lombok: false,
    language: "java",
    createdAt: new Date("2021-10-10"),
  },
];
---

<Layout>
  <LogoTop />

  <div class="grid grid-cols-5">
    <div class="row-span-5 ml-20 mt-20">
      <Aside entities={entities} />
    </div>

    <div class="col-span-2 row-span-5">
      <!-- <EntityGenerator /> -->
    </div>
    <div class="col-span-2 row-span-5 col-start-4 mt-20">
      <EntityJava entity={entities[0]} />
    </div>
  </div>
</Layout>
