---
import Layout from "../layouts/Layout.astro";
import type IEntity from "../types/Entity.type";
import Aside from "../components/aside";
import LogoTop from "../components/logoTop.astro";
import EntityJava from "../components/entityJava";

const entities: IEntity[] = [
  {
    className: "User",
    fields: [
      {
        name: "name",
        getter: true,
        setter: true,
        type: "string",
        nullable: false,
      },
      {
        name: "surname",
        getter: true,
        setter: true,
        type: "string",
        nullable: false,
      },
      {
        name: "birth",
        getter: true,
        setter: true,
        type: "LocalDateTime",
        nullable: false,
      },
    ],
    lombok: false,
    language: "java",
    createdAt: new Date("2021-10-10"),
    id: 1,
  },
  {
    className: "User2",
    fields: [
      {
        name: "name",
        getter: true,
        setter: true,
        type: "string",
        nullable: false,
      },
    ],
    lombok: false,
    language: "java",
    createdAt: new Date("2021-10-10"),
    id: 2,
  },
  {
    className: "User3",
    fields: [
      {
        name: "name",
        getter: true,
        setter: true,
        type: "string",
        nullable: false,
      },
    ],
    lombok: false,
    language: "java",
    createdAt: new Date("2021-10-10"),
    id: 3,
  },
];

const [selectedEntity, setSelectedEntity] = useState<IEntity | null>(null);

const handleSelectEntity = (entity: IEntity) => {
  setSelectedEntity(entity);
};
---

<Layout>
  <LogoTop />

  <div class="grid grid-cols-5">
    <div class="row-span-5 ml-20 mt-20">
      <!-- Pasamos las entidades y la función para seleccionar una entidad a `Aside` -->
      <Aside
        entities={entities}
        onSelectEntity={handleSelectEntity}
        client:load
      />
    </div>

    <div class="col-span-2 row-span-5 mt-20">
      <!-- Aquí puedes agregar otro contenido si es necesario -->
    </div>

    <div class="col-span-2 row-span-5 col-start-4 mt-20">
      <!-- Si se seleccionó una entidad, mostramos `EntityJava`, de lo contrario, mostramos un mensaje -->
      {
        selectedEntity ? (
          <EntityJava entity={selectedEntity} client:load />
        ) : (
          <p>No entity selected</p>
        )
      }
    </div>
  </div>
</Layout>
