---
import type Entity from "../types/Entity.type";
import EntityHistory from "./entityHistory.astro";

export interface Props {
  entities: Entity[];
}
const { entities } = Astro.props as Props;
---

<aside
  class="w-64 bg-codebg text-white flex flex-col max-h-[calc(100vh-10rem)] max-w-full h-[calc(100vh-10rem)] overflow-auto border border-gray-700 rounded"
>
  <h1 class="p-4 text-lg font-bold border-b border-gray-700">
    Entities created
  </h1>
  <nav class="flex-1 p-4 overflow-y-auto">
    <!-- SHOW ENTITIES -->
    <ul>
      {
        entities.map((entity) => (
          <EntityHistory name={entity.className} date={entity.createdAt} />
        ))
      }
    </ul>
  </nav>
  <div class="p-4 border-t border-gray-700">
    <button class="w-full p-2 bg-blue-500 rounded hover:bg-blue-600">
      Create new entity
    </button>
  </div>
</aside>
