---
export interface Props {
  name: String;
  date: Date;
}
const { name, date } = Astro.props as Props;
---

<!-- METER EL ASIDE EN OTRO COMPONENTE -->
<li class="mb-1 hover:bg-gray-700 p-2 rounded-2xl">
  <h1 class="text-xl">{name}</h1>
  <h2 class="text-sm opacity-60">
    {date.toLocaleDateString()}
  </h2>
</li>

<!-- </div> -->
