---

---

<div class="fixed top-0 w-full h-16 flex items-center pt-5 px-4">
  <!-- Contenedor de texto centrado -->
  <div
    class="absolute left-1/2 transform -translate-x-1/2 flex flex-col items-center"
  >
    <h1 class="text-white text-2xl font-bold">Entity generator</h1>
    <h1 class="text-xl">BY <span class="text-blue-600"> MAM</span></h1>
  </div>

  <a href="https://github.com/markush0f" class="ml-auto">
    <img
      src="icons/github-dark.svg"
      alt="GitHub logo"
      width="30"
      height="30"
      
    />
  </a>
</div>
